# Lattice Diamond / OSS CAD Suite constraint file
# Update pin assignments for your board

LOCATE COMP "clk"    SITE "P3";
LOCATE COMP "rst_n"  SITE "T2";
LOCATE COMP "led[0]" SITE "H11";
LOCATE COMP "led[1]" SITE "J13";
LOCATE COMP "led[2]" SITE "J11";
LOCATE COMP "led[3]" SITE "L12";
LOCATE COMP "led[4]" SITE "K11";
LOCATE COMP "led[5]" SITE "L13";
LOCATE COMP "led[6]" SITE "N14";
LOCATE COMP "led[7]" SITE "P13";

IOBUF PORT "clk"    IO_TYPE=LVCMOS33;
IOBUF PORT "rst_n"  IO_TYPE=LVCMOS33;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
