# Lattice Diamond / OSS constraint file for UART TX
# Update pin assignments for your board

LOCATE COMP "clk"   SITE "P3";
LOCATE COMP "rst_n" SITE "T2";
LOCATE COMP "tx"    SITE "H11";

IOBUF PORT "clk"   IO_TYPE=LVCMOS33;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33;
IOBUF PORT "tx"    IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
